<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>maps</key>
	<array>
		<dict>
			<key>instances</key>
			<string>map0.ins</string>
			<key>map</key>
			<string>map0.map</string>
		</dict>
		<dict>
			<key>instances</key>
			<string>map1.ins</string>
			<key>map</key>
			<string>map1.map</string>
		</dict>
		<dict>
			<key>instances</key>
			<string>map2.ins</string>
			<key>map</key>
			<string>map2.map</string>
		</dict>
		<dict>
			<key>instances</key>
			<string>map3.ins</string>
			<key>map</key>
			<string>map3.map</string>
		</dict>
		<dict>
			<key>instances</key>
			<string>map4.ins</string>
			<key>map</key>
			<string>map4.map</string>
		</dict>
		<dict>
			<key>instances</key>
			<string>map5.ins</string>
			<key>map</key>
			<string>map5.map</string>
		</dict>
		<dict>
			<key>instances</key>
			<string>map6.ins</string>
			<key>map</key>
			<string>map6.map</string>
		</dict>
	</array>
	<key>palettes</key>
	<array>
		<string>palette0.pal</string>
		<string>palette1.pal</string>
		<string>palette2.pal</string>
		<string>palette3.pal</string>
		<string>palette4.pal</string>
		<string>palette5.pal</string>
	</array>
	<key>version</key>
	<integer>5</integer>
	<key>sprites</key>
	<array>
		<string>sprite0.spr</string>
		<string>sprite1.spr</string>
		<string>sprite2.spr</string>
		<string>sprite3.spr</string>
		<string>sprite4.spr</string>
		<string>sprite5.spr</string>
		<string>sprite6.spr</string>
		<string>sprite7.spr</string>
		<string>sprite8.spr</string>
		<string>sprite9.spr</string>
		<string>sprite10.spr</string>
		<string>sprite11.spr</string>
		<string>sprite12.spr</string>
		<string>sprite13.spr</string>
		<string>sprite14.spr</string>
		<string>sprite15.spr</string>
		<string>sprite16.spr</string>
		<string>sprite17.spr</string>
		<string>sprite18.spr</string>
		<string>sprite19.spr</string>
		<string>sprite20.spr</string>
		<string>sprite21.spr</string>
		<string>sprite22.spr</string>
		<string>sprite23.spr</string>
		<string>sprite24.spr</string>
		<string>sprite25.spr</string>
		<string>sprite26.spr</string>
		<string>sprite27.spr</string>
		<string>sprite28.spr</string>
		<string>sprite29.spr</string>
		<string>sprite30.spr</string>
		<string>sprite31.spr</string>
	</array>
</dict>
</plist>