<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>version</key>
	<integer>10</integer>
	<key>next-map</key>
	<integer>18</integer>
	<key>palettes</key>
	<array>
		<string>palette0.pal</string>
		<string>palette1.pal</string>
		<string>palette2.pal</string>
		<string>palette3.pal</string>
		<string>palette4.pal</string>
		<string>palette5.pal</string>
		<string>palette6.pal</string>
	</array>
	<key>maps</key>
	<array>
		<dict>
			<key>instances</key>
			<string>map0.ins</string>
			<key>map</key>
			<string>map0.map</string>
		</dict>
		<dict>
			<key>instances</key>
			<string>map1.ins</string>
			<key>map</key>
			<string>map1.map</string>
		</dict>
		<dict>
			<key>instances</key>
			<string>map2.ins</string>
			<key>map</key>
			<string>map2.map</string>
		</dict>
		<dict>
			<key>instances</key>
			<string>map3.ins</string>
			<key>map</key>
			<string>map3.map</string>
		</dict>
		<dict>
			<key>instances</key>
			<string>map7.ins</string>
			<key>map</key>
			<string>map7.map</string>
		</dict>
		<dict>
			<key>instances</key>
			<string>map4.ins</string>
			<key>map</key>
			<string>map4.map</string>
		</dict>
		<dict>
			<key>instances</key>
			<string>map5.ins</string>
			<key>map</key>
			<string>map5.map</string>
		</dict>
		<dict>
			<key>instances</key>
			<string>map6.ins</string>
			<key>map</key>
			<string>map6.map</string>
		</dict>
		<dict>
			<key>instances</key>
			<string>map8.ins</string>
			<key>map</key>
			<string>map8.map</string>
		</dict>
		<dict>
			<key>instances</key>
			<string>map9.ins</string>
			<key>map</key>
			<string>map9.map</string>
		</dict>
		<dict>
			<key>instances</key>
			<string>map10.ins</string>
			<key>map</key>
			<string>map10.map</string>
		</dict>
		<dict>
			<key>instances</key>
			<string>map11.ins</string>
			<key>map</key>
			<string>map11.map</string>
		</dict>
		<dict>
			<key>instances</key>
			<string>map12.ins</string>
			<key>map</key>
			<string>map12.map</string>
		</dict>
		<dict>
			<key>instances</key>
			<string>map13.ins</string>
			<key>map</key>
			<string>map13.map</string>
		</dict>
		<dict>
			<key>instances</key>
			<string>map14.ins</string>
			<key>map</key>
			<string>map14.map</string>
		</dict>
		<dict>
			<key>instances</key>
			<string>map15.ins</string>
			<key>map</key>
			<string>map15.map</string>
		</dict>
		<dict>
			<key>instances</key>
			<string>map16.ins</string>
			<key>map</key>
			<string>map16.map</string>
		</dict>
		<dict>
			<key>instances</key>
			<string>map17.ins</string>
			<key>map</key>
			<string>map17.map</string>
		</dict>
	</array>
	<key>sprites</key>
	<array>
		<string>sprite0.spr</string>
		<string>sprite1.spr</string>
		<string>sprite2.spr</string>
		<string>sprite3.spr</string>
		<string>sprite4.spr</string>
		<string>sprite5.spr</string>
		<string>sprite6.spr</string>
		<string>sprite7.spr</string>
		<string>sprite8.spr</string>
		<string>sprite9.spr</string>
		<string>sprite10.spr</string>
		<string>sprite11.spr</string>
		<string>sprite12.spr</string>
		<string>sprite13.spr</string>
		<string>sprite14.spr</string>
		<string>sprite15.spr</string>
		<string>sprite16.spr</string>
		<string>sprite17.spr</string>
		<string>sprite18.spr</string>
		<string>sprite19.spr</string>
		<string>sprite20.spr</string>
		<string>sprite21.spr</string>
		<string>sprite22.spr</string>
		<string>sprite23.spr</string>
		<string>sprite24.spr</string>
		<string>sprite25.spr</string>
		<string>sprite26.spr</string>
		<string>sprite27.spr</string>
		<string>sprite28.spr</string>
		<string>sprite29.spr</string>
		<string>sprite30.spr</string>
		<string>sprite31.spr</string>
		<string>sprite32.spr</string>
		<string>sprite33.spr</string>
		<string>sprite34.spr</string>
		<string>sprite35.spr</string>
		<string>sprite36.spr</string>
		<string>sprite37.spr</string>
		<string>sprite38.spr</string>
		<string>sprite39.spr</string>
		<string>sprite40.spr</string>
		<string>sprite41.spr</string>
		<string>sprite42.spr</string>
		<string>sprite43.spr</string>
		<string>sprite44.spr</string>
		<string>sprite45.spr</string>
		<string>sprite46.spr</string>
		<string>sprite47.spr</string>
		<string>sprite48.spr</string>
		<string>sprite49.spr</string>
		<string>sprite50.spr</string>
		<string>sprite51.spr</string>
		<string>sprite52.spr</string>
		<string>sprite53.spr</string>
		<string>sprite54.spr</string>
		<string>sprite55.spr</string>
		<string>sprite56.spr</string>
		<string>sprite57.spr</string>
		<string>sprite58.spr</string>
		<string>sprite59.spr</string>
		<string>sprite60.spr</string>
		<string>sprite61.spr</string>
		<string>sprite62.spr</string>
		<string>sprite63.spr</string>
		<string>sprite64.spr</string>
		<string>sprite65.spr</string>
		<string>sprite66.spr</string>
		<string>sprite67.spr</string>
		<string>sprite68.spr</string>
		<string>sprite69.spr</string>
		<string>sprite70.spr</string>
		<string>sprite71.spr</string>
	</array>
</dict>
</plist>