<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>version</key>
	<integer>10</integer>
	<key>next-map</key>
	<integer>1</integer>
	<key>palettes</key>
	<array>
		<string>palette0.pal</string>
	</array>
	<key>maps</key>
	<array>
		<dict>
			<key>instances</key>
			<string>map0.ins</string>
			<key>map</key>
			<string>map0.map</string>
		</dict>
	</array>
	<key>sprites</key>
	<array>
		<string>sprite0.spr</string>
		<string>sprite1.spr</string>
		<string>sprite2.spr</string>
		<string>sprite3.spr</string>
		<string>sprite4.spr</string>
		<string>sprite5.spr</string>
		<string>sprite6.spr</string>
		<string>sprite7.spr</string>
		<string>sprite8.spr</string>
		<string>sprite9.spr</string>
		<string>sprite10.spr</string>
		<string>sprite11.spr</string>
		<string>sprite12.spr</string>
		<string>sprite13.spr</string>
		<string>sprite14.spr</string>
		<string>sprite15.spr</string>
	</array>
</dict>
</plist>